doctype html(lang='en')
head
    title CASTED 3D

    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    .container-fluid
      h1 DOCTOR Review

      .row
        .col-sm-5
          .form-group
            label(for='patientname') Patient Name:

            input#patientname.form-control(type='text', value='John Doe')

            label(for='patientcase') Patient Case:

            input#patientcase.form-control(type='text', value='1234567890')
            .btn-group.btn-group-lg
                br
                button.btn.btn-primary(type='submit') Submit

          img.img-responsive(src='/images/patient-3dcast.jpg', alt='Patient John Doe', ,='', height='300', width='500', align='middle')


        .col-sm-6.col-sm-offset-1
            h2 Patient Data:
            h4 Fracture to forearm (area 8a-8c & 9a)
            h4 Date of fracture: 11/23/14

        br
        .col-sm-6.col-sm-offset-1
            form
            h3 Confirm or Update Cast Properties
              fieldset
                .form-group
                  label 8a
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label 8b
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label 8c
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label 9a
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
            .form-group
                label Notes:
                textarea.form-control(rows="3")

          .btn-group.btn-group-lg.col-md-offset-4
            a.btn.btn-info(href='/', role='button') Send to patient for style and personalize
