doctype html(lang='en')
head
    title CASTED 3D
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    |   
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    .container-fluid
      h1 Intake Admin
      |   
      .row
        .col-sm-6
          h2 Follow this step after X-RAY
          |       
          p
          .checkbox
            label
              input(type='checkbox', value='')
              | Confirm Patient Name and Case Number
          |       
          .checkbox
            label
              input(type='checkbox', value='')
              | Create 3D scan using Camera Array
          |     
          img.img-responsive(src='/images/skeleton.jpg', alt='Identify injure area', ,='', height='300', width='500', align='middle')
        |     
        .col-sm-6
          .form-group
            label(for='patientname') Patient Name:
            |   
            input#patientname.form-control(type='text', value='John Doe')
            |     
            label(for='patientcase') Patient Case:
            |   
            input#patientcase.form-control(type='text', value='1234567890')
            div
              .form-group
                form(action="/sms", method='post')
                  label(for='my-select') Identify Injury Area:
                  |   
                  select#my-select.form-control
                    script.
                      $(document).ready(function() {
                      for(i=1;i<=73;i++)
                      {
                      $("#my-select").append("<option>"+i+"</option>");
                      }
                      });
                  .btn-group.btn-group-lg
                    a.btn.btn-info(action="submit", role='button') Submit for Doctor Review
                    script.
                        $(document).ready(function(){
                          $("button").click(function(){
                          $.get("demo_test.asp", function(data, status){
                          alert("Data: " + data + "\\nStatus: " + status);
                          });
                          });
                          });
                        button Send an HTTP GET request to a page and get the result back


